---
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout>
    <section id="projects" class="max-w-6xl mx-auto pb-6 pt-2 mb-12 my-4 ">
        <h1 class="text-6xl mb-6 text-center"><span class="font-bold ">My</span> Projects</h1>
        <p class="text-center mb-12 text-lg text-gray-700">Explore a selection of my recent projects, showcasing my skills in web development and design.</p>
    </section>
    <section>
        <h2>Web applications</h2>
        <p>
            I build modern web applications using technologies like React, Next.js, Node.js, and more to deliver fast, scalable, and user-friendly solutions.
    </section>
</MainLayout>