<section class="max-w-6xl mx-auto p-6 my-12 ">
    <h2 class=""><span class="font-bold">Who</span> am I</span></h2>
    <div>
    <p>Hello! I'm Waldemar Glaz, a passionate frontend developer with experience in building modern web applications using React, Next.js, and Tailwind CSS. I love creating user-friendly interfaces and bringing designs to life.</p>
    <p>In my free time, I enjoy exploring new technologies, contributing to open-source projects, and improving my skills in JavaScript and TypeScript.</p>
    </div>
</section>