---
import Form from './UI/Form.astro';
---

<section id="contact" class="max-w-6xl mx-auto py-20 px-6 text-center md:grid md:gap-8 md:grid-cols-2">
  <div><p class="text-gray-500 mb-8">Have a project or opportunity? Drop me a message below.</p>
    <Form />
  </div>
  <h2 class="text-6xl mb-4 text-gray-900 text-right">Say <strong>Hello</strong></h2>
</section>

