<footer class=" text-center py-6 mt-16 flex justify-center items-center gap-4">
  <img src="/hero.png" alt="Glazfolio logo" width="24" height="24"/>
  <p class="text-gray-500">2025 Waldemar Glaz. Built with <a href="https://astro.build" class="text-blue-600">Astro</a> 🚀
  </p>
</footer>
