---
const links = [
  { name: 'Home', href: '/' },
  {
    name: 'Projects', href: '/projects'
  },
  { name: 'Contact', href: '/#contact' },

];
---

<header class="sticky top-0 z-50 bg-[rgba(245,246,250,0.8)] backdrop-blur-md">
  <nav class="max-w-6xl mx-auto flex justify-between items-center p-4">
    <a href="/" class="text-2xl font-bold ">Glaz<span class="font-light">folio</span></a>
    <ul class="flex gap-6">
      {links.map(link => (
        <li><a href={link.href} class="text-gray-700 hover:text-blue-600">{link.name}</a></li>
      ))}
    </ul>
  </nav>
</header>
