---
import { tech } from "../constants/index.ts";
import TechItem from "./UI/TechItem.astro";
---

<section class="max-w-6xl mx-auto pb-6 pt-2 mb-12 my-6 px-6">
    <h2 class="text-6xl mb-12">My<span class="font-bold"> tech stack</span></h2>
    <div class="grid grid-cols-8 md:grid-cols-13 justify-center gap-6  items-center">
        {tech.map((item) => (
            
            <TechItem {...item} />
        ))}
    </div>
</div>
</section>